<img src="https://i.imgur.com/6U6q5jQ.png"/>

# Data Reshaping in Python


Let me get the data on dengue from [Peru](https://www.datosabiertos.gob.pe/dataset/vigilancia-epidemiol%C3%B3gica-de-dengue):

In [3]:
import pandas as pd
import os

dengue = pd.read_csv(os.path.join('FilesToReshape' , "datos_abiertos_vigilancia_dengue.csv"),on_bad_lines='warn')

Skipping line 87871: expected 14 fields, saw 16
Skipping line 88799: expected 14 fields, saw 16
Skipping line 89573: expected 14 fields, saw 16

Skipping line 176478: expected 14 fields, saw 16
Skipping line 177184: expected 14 fields, saw 16
Skipping line 177191: expected 14 fields, saw 16
Skipping line 183099: expected 14 fields, saw 16

Skipping line 293518: expected 14 fields, saw 16

/var/folders/2n/bkfhfqq16r78g3hf7pdj56y40000gn/T/ipykernel_3906/377862980.py:4: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dengue = pd.read_csv(os.path.join('FilesToReshape' , "datos_abiertos_vigilancia_dengue.csv"),on_bad_lines='warn')

Pandas offers **on_bad_lines='warn'** to let you know if something does not make sense. As you see, you have 8 lines that were omitted. This is what you have now:

In [5]:
dengue.shape

(501684, 14)

You can try in a different way:

In [9]:
dengue2=pd.read_table(os.path.join('FilesToReshape' , "datos_abiertos_vigilancia_dengue.csv"))
dengue2

       departamento,provincia,distrito,localidad,enfermedad,ano,semana,diagnostic,diresa,ubigeo,localcod,edad,tipo_edad,sexo
0       HUANUCO,LEONCIO PRADO,LUYANDO,,DENGUE SIN SEÑA...
1       HUANUCO,LEONCIO PRADO,LUYANDO,,DENGUE SIN SEÑA...
2       HUANUCO,LEONCIO PRADO,JOSE CRESPO Y CASTILLO,,...
3       HUANUCO,LEONCIO PRADO,JOSE CRESPO Y CASTILLO,,...
4       HUANUCO,LEONCIO PRADO,MARIANO DAMASO BERAUN,,D...
...                                                   ...
501687  SAN MARTIN,SAN MARTIN,TARAPOTO,TARAPOTO,DENGUE...
501688  PIURA,SECHURA,SECHURA,SECHURA,DENGUE SIN SEÑAL...
501689  PIURA,PIURA,LA UNION,LA UNION,DENGUE SIN SEÑAL...
501690  LORETO,MAYNAS,IQUITOS,IQUITOS,DENGUE SIN SEÑAL...
501691  SAN MARTIN,SAN MARTIN,LA BANDA DE SHILCAYO,LA ...

[501692 rows x 1 columns]

You did not get a warning, and in fact you got 8 more rows. You can try to identify wjta is wrong:

In [24]:
dengue2.iloc[87867:87873,0]

87867    PIURA,TALARA,PARIѐAS,TALARA,DENGUE SIN SEÑALES...
87868    PIURA,TALARA,PARIѐAS,TALARA,DENGUE SIN SEÑALES...
87869    PIURA,TALARA,PARIѐAS,ENACE I\,II\,III,DENGUE S...
87870    PIURA,TALARA,PARIѐAS,TALARA,DENGUE SIN SEÑALES...
87871    PIURA,TALARA,PARIѐAS,TALARA ALTA,DENGUE SIN SE...
87872    PIURA,TALARA,PARIѐAS,TALARA ALTA,DENGUE SIN SE...
Name: departamento,provincia,distrito,localidad,enfermedad,ano,semana,diagnostic,diresa,ubigeo,localcod,edad,tipo_edad,sexo, dtype: object

In [25]:
# use that weird text:
dengue2[dengue2.iloc[:,0].str.contains("I\\,II",regex=False)]

       departamento,provincia,distrito,localidad,enfermedad,ano,semana,diagnostic,diresa,ubigeo,localcod,edad,tipo_edad,sexo
87869   PIURA,TALARA,PARIѐAS,ENACE I\,II\,III,DENGUE S...
88797   PIURA,TALARA,PARIѐAS,ENACE I\,II\,III,DENGUE S...
89571   PIURA,TALARA,PARIѐAS,ENACE I\,II\,III,DENGUE S...
176476  PIURA,TALARA,PARIѐAS,ENACE I\,II\,III,DENGUE S...
177182  PIURA,TALARA,PARIѐAS,ENACE I\,II\,III,DENGUE S...
177189  PIURA,TALARA,PARIѐAS,ENACE I\,II\,III,DENGUE S...
183097  PIURA,TALARA,PARIѐAS,ENACE I\,II\,III,DENGUE S...
293516  PIURA,TALARA,PARIѐAS,ENACE I\,II\,III,DENGUE S...

I have prepared a cleaner version:

In [95]:
dengue = pd.read_csv(os.path.join('FilesToReshape' , "datos_abiertos_vigilancia_dengue_ok.csv"))
dengue

/var/folders/2n/bkfhfqq16r78g3hf7pdj56y40000gn/T/ipykernel_3906/2388736993.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  dengue = pd.read_csv(os.path.join('FilesToReshape' , "datos_abiertos_vigilancia_dengue_ok.csv"))

,departamento,provincia,distrito,localidad,enfermedad,ano,semana,diagnostic,diresa,ubigeo,localcod,edad,tipo_edad,sexo
0,HUANUCO,LEONCIO PRADO,LUYANDO,NaN,DENGUE SIN SEÑALES DE ALARMA,2000,47,A97.0,10.0,100605,NaN,9,A,M
1,HUANUCO,LEONCIO PRADO,LUYANDO,NaN,DENGUE SIN SEÑALES DE ALARMA,2000,40,A97.0,10.0,100605,NaN,18,A,F
2,HUANUCO,LEONCIO PRADO,JOSE CRESPO Y CASTILLO,NaN,DENGUE SIN SEÑALES DE ALARMA,2000,48,A97.0,10.0,100604,NaN,32,A,F
3,HUANUCO,LEONCIO PRADO,JOSE CRESPO Y CASTILLO,NaN,DENGUE SIN SEÑALES DE ALARMA,2000,37,A97.0,10.0,100604,NaN,40,A,F
4,HUANUCO,LEONCIO PRADO,MARIANO DAMASO BERAUN,NaN,DENGUE SIN SEÑALES DE ALARMA,2000,42,A97.0,10.0,100606,NaN,16,A,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501687,SAN MARTIN,SAN MARTIN,TARAPOTO,TARAPOTO,DENGUE SIN SEÑALES DE ALARMA,2022,13,A97.0,22.0,220901,2209010001,17,A,M
501688,PIURA,SECHURA,SECHURA,SECHURA,DENGUE SIN SEÑALES DE ALARMA,2022,13,A97.0,32.0,200801,2008010001,48,A,F
501689,PIURA,PIURA,LA UNION,LA UNION,DENGUE SIN SEÑALES DE ALARMA,2022,52,A97.0,32.0,200110,2001100001,24,A,M
501690,LORETO,MAYNAS,IQUITOS,IQUITOS,DENGUE SIN SEÑALES DE ALARMA,2022,51,A97.0,16.0,160101,1601010001,26,A,M
501691,SAN MARTIN,SAN MARTIN,LA BANDA DE SHILCAYO,LA BANDA,DENGUE SIN SEÑALES DE ALARMA,2022,47,A97.0,22.0,220909,2209090001,25,A,F

Let me select a subset of columns:

In [96]:
toSelect=['departamento', 'provincia', 'distrito','ano', 'semana', 'sexo','enfermedad']
dengue=dengue[toSelect]
dengue.head()

,departamento,provincia,distrito,ano,semana,sexo,enfermedad
0,HUANUCO,LEONCIO PRADO,LUYANDO,2000,47,M,DENGUE SIN SEÑALES DE ALARMA
1,HUANUCO,LEONCIO PRADO,LUYANDO,2000,40,F,DENGUE SIN SEÑALES DE ALARMA
2,HUANUCO,LEONCIO PRADO,JOSE CRESPO Y CASTILLO,2000,48,F,DENGUE SIN SEÑALES DE ALARMA
3,HUANUCO,LEONCIO PRADO,JOSE CRESPO Y CASTILLO,2000,37,F,DENGUE SIN SEÑALES DE ALARMA
4,HUANUCO,LEONCIO PRADO,MARIANO DAMASO BERAUN,2000,42,M,DENGUE SIN SEÑALES DE ALARMA

As we know there were issues with text, let's check department values:

In [97]:
dengue.departamento.value_counts().index.to_list()

['PIURA',
 'LORETO',
 'UCAYALI',
 'MADRE DE DIOS',
 'TUMBES',
 'SAN MARTIN',
 'LA LIBERTAD',
 'ICA',
 'CAJAMARCA',
 'JUNIN',
 'LAMBAYEQUE',
 'AMAZONAS',
 'CUSCO',
 'HUANUCO',
 'AYACUCHO',
 'ANCASH',
 'LIMA',
 'PASCO',
 '\\N',
 'PUNO',
 'CALLAO',
 'AREQUIPA',
 'MOQUEGUA']

Let's replace that cell value in all the data frame:

In [98]:
dengue.replace('\\N',None,regex=False,inplace=True)

/var/folders/2n/bkfhfqq16r78g3hf7pdj56y40000gn/T/ipykernel_3906/2094803000.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dengue.replace('\\N',None,regex=False,inplace=True)

Now, we keep the complete data:

In [99]:
dengue.dropna(how='any',inplace=True,ignore_index=True)

/var/folders/2n/bkfhfqq16r78g3hf7pdj56y40000gn/T/ipykernel_3906/4024010340.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dengue.dropna(how='any',inplace=True,ignore_index=True)

In [100]:
dengue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501248 entries, 0 to 501247
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   departamento  501248 non-null  object
 1   provincia     501248 non-null  object
 2   distrito      501248 non-null  object
 3   ano           501248 non-null  int64
 4   semana        501248 non-null  int64
 5   sexo          501248 non-null  object
 6   enfermedad    501248 non-null  object
dtypes: int64(2), object(5)
memory usage: 26.8+ MB

The data is about people, but since there is no identifier for a person, it is possible that rows are repeated:

In [101]:
dengue[dengue.duplicated(keep=False)]#.sort_values(by=['distrito','semana','sexo'])

,departamento,provincia,distrito,ano,semana,sexo,enfermedad
1,HUANUCO,LEONCIO PRADO,LUYANDO,2000,40,F,DENGUE SIN SEÑALES DE ALARMA
2,HUANUCO,LEONCIO PRADO,JOSE CRESPO Y CASTILLO,2000,48,F,DENGUE SIN SEÑALES DE ALARMA
5,HUANUCO,LEONCIO PRADO,LUYANDO,2000,40,F,DENGUE SIN SEÑALES DE ALARMA
8,HUANUCO,LEONCIO PRADO,JOSE CRESPO Y CASTILLO,2000,47,M,DENGUE SIN SEÑALES DE ALARMA
9,HUANUCO,LEONCIO PRADO,RUPA-RUPA,2000,45,F,DENGUE SIN SEÑALES DE ALARMA
...,...,...,...,...,...,...,...
501242,PIURA,PIURA,PIURA,2022,52,F,DENGUE SIN SEÑALES DE ALARMA
501243,SAN MARTIN,SAN MARTIN,TARAPOTO,2022,13,M,DENGUE SIN SEÑALES DE ALARMA
501244,PIURA,SECHURA,SECHURA,2022,13,F,DENGUE SIN SEÑALES DE ALARMA
501246,LORETO,MAYNAS,IQUITOS,2022,51,M,DENGUE SIN SEÑALES DE ALARMA
501247,SAN MARTIN,SAN MARTIN,LA BANDA DE SHILCAYO,2022,47,F,DENGUE SIN SEÑALES DE ALARMA

To ease the count, we could add a column of ones:

In [106]:
dengue=dengue.assign(case=1)

In [107]:
dengue

,departamento,provincia,distrito,ano,semana,sexo,enfermedad,case
0,HUANUCO,LEONCIO PRADO,LUYANDO,2000,47,M,DENGUE SIN SEÑALES DE ALARMA,1
1,HUANUCO,LEONCIO PRADO,LUYANDO,2000,40,F,DENGUE SIN SEÑALES DE ALARMA,1
2,HUANUCO,LEONCIO PRADO,JOSE CRESPO Y CASTILLO,2000,48,F,DENGUE SIN SEÑALES DE ALARMA,1
3,HUANUCO,LEONCIO PRADO,JOSE CRESPO Y CASTILLO,2000,37,F,DENGUE SIN SEÑALES DE ALARMA,1
4,HUANUCO,LEONCIO PRADO,MARIANO DAMASO BERAUN,2000,42,M,DENGUE SIN SEÑALES DE ALARMA,1
...,...,...,...,...,...,...,...,...
501243,SAN MARTIN,SAN MARTIN,TARAPOTO,2022,13,M,DENGUE SIN SEÑALES DE ALARMA,1
501244,PIURA,SECHURA,SECHURA,2022,13,F,DENGUE SIN SEÑALES DE ALARMA,1
501245,PIURA,PIURA,LA UNION,2022,52,M,DENGUE SIN SEÑALES DE ALARMA,1
501246,LORETO,MAYNAS,IQUITOS,2022,51,M,DENGUE SIN SEÑALES DE ALARMA,1
501247,SAN MARTIN,SAN MARTIN,LA BANDA DE SHILCAYO,2022,47,F,DENGUE SIN SEÑALES DE ALARMA,1

At this stage, we should aggregate the data:

In [110]:
CasesByWeek=dengue.groupby(['departamento', 'provincia', 'distrito','ano', 'semana','sexo','enfermedad']).agg({'case': ['sum']})
CasesByWeek

                                                                                 case
                                                                                  sum
departamento provincia  distrito   ano  semana sexo enfermedad
AMAZONAS     BAGUA      ARAMANGO   2001 13     M    DENGUE SIN SEÑALES DE ALARMA    2
                                        14     F    DENGUE SIN SEÑALES DE ALARMA    2
                                        15     F    DENGUE SIN SEÑALES DE ALARMA    8
                                        16     F    DENGUE SIN SEÑALES DE ALARMA    2
                                               M    DENGUE SIN SEÑALES DE ALARMA    2
...                                                                               ...
UCAYALI      PADRE ABAD PADRE ABAD 2022 52     M    DENGUE CON SEÑALES DE ALARMA    1
                                                    DENGUE SIN SEÑALES DE ALARMA    2
             PURUS      PURUS      2020 51     M    DENGUE SIN SEÑALES DE ALARMA    1
                                   2022 28     F    DENGUE CON SEÑALES DE ALARMA    1
                                        51     M    DENGUE SIN SEÑALES DE ALARMA    1

[101994 rows x 1 columns]

We may turn that multi-index structure in a simpler way:

In [113]:
CasesByWeek.columns=['cases'] # new name for the only column

CasesByWeek.reset_index(drop=False,inplace=True)

CasesByWeek

,departamento,provincia,distrito,ano,semana,sexo,enfermedad,cases
0,AMAZONAS,BAGUA,ARAMANGO,2001,13,M,DENGUE SIN SEÑALES DE ALARMA,2
1,AMAZONAS,BAGUA,ARAMANGO,2001,14,F,DENGUE SIN SEÑALES DE ALARMA,2
2,AMAZONAS,BAGUA,ARAMANGO,2001,15,F,DENGUE SIN SEÑALES DE ALARMA,8
3,AMAZONAS,BAGUA,ARAMANGO,2001,16,F,DENGUE SIN SEÑALES DE ALARMA,2
4,AMAZONAS,BAGUA,ARAMANGO,2001,16,M,DENGUE SIN SEÑALES DE ALARMA,2
...,...,...,...,...,...,...,...,...
101989,UCAYALI,PADRE ABAD,PADRE ABAD,2022,52,M,DENGUE CON SEÑALES DE ALARMA,1
101990,UCAYALI,PADRE ABAD,PADRE ABAD,2022,52,M,DENGUE SIN SEÑALES DE ALARMA,2
101991,UCAYALI,PURUS,PURUS,2020,51,M,DENGUE SIN SEÑALES DE ALARMA,1
101992,UCAYALI,PURUS,PURUS,2022,28,F,DENGUE CON SEÑALES DE ALARMA,1
101993,UCAYALI,PURUS,PURUS,2022,51,M,DENGUE SIN SEÑALES DE ALARMA,1

## Reshaping

### From Long to Wide

The object *CasesByWeek* shows the values in one column, and the other column serve as identifier (an index). Let's make a simple wide version (one index):

In [114]:
CasesByWeek.pivot_table(values='cases',
                            index=['departamento'],
                            columns='enfermedad',aggfunc="sum")

enfermedad,DENGUE CON SEÑALES DE ALARMA,DENGUE GRAVE,DENGUE SIN SEÑALES DE ALARMA
departamento,,,
AMAZONAS,502.0,39.0,11476.0
ANCASH,296.0,19.0,6899.0
AREQUIPA,1.0,NaN,6.0
AYACUCHO,269.0,20.0,8600.0
CAJAMARCA,1869.0,37.0,17503.0
CALLAO,3.0,NaN,23.0
CUSCO,270.0,22.0,10184.0
HUANUCO,1012.0,34.0,8000.0
ICA,583.0,32.0,20709.0
JUNIN,2032.0,65.0,17102.0
LA LIBERTAD,948.0,37.0,23392.0
LAMBAYEQUE,217.0,33.0,15368.0
LIMA,263.0,4.0,3988.0
LORETO,14137.0,531.0,77828.0
MADRE DE DIOS,5208.0,256.0,25098.0
MOQUEGUA,NaN,NaN,1.0
PASCO,205.0,16.0,1742.0
PIURA,12604.0,511.0,113295.0
PUNO,3.0,NaN,176.0
SAN MARTIN,4162.0,151.0,22446.0
TUMBES,2995.0,122.0,24197.0
UCAYALI,7405.0,330.0,35972.0

The reshaping with two keys:

In [24]:
CasesByWeek.pivot_table(values='cases',
                            index=['departamento', 'provincia'],
                            columns='enfermedad',aggfunc="sum")

enfermedad                         DENGUE CON SEÑALES DE ALARMA  DENGUE GRAVE  \
departamento provincia
AMAZONAS     BAGUA                                        306.0          29.0
             BONGARA                                        NaN           NaN
             CHACHAPOYAS                                   18.0           NaN
             CONDORCANQUI                                  41.0           NaN
             RODRIGUEZ DE MENDOZA                           NaN           NaN
...                                                         ...           ...
TUMBES       ZARUMILLA                                    375.0          14.0
UCAYALI      ATALAYA                                      404.0          24.0
             CORONEL PORTILLO                            6514.0         276.0
             PADRE ABAD                                   486.0          30.0
             PURUS                                          1.0           NaN

enfermedad                         DENGUE SIN SEÑALES DE ALARMA
departamento provincia
AMAZONAS     BAGUA                                       5595.0
             BONGARA                                        4.0
             CHACHAPOYAS                                   50.0
             CONDORCANQUI                                1203.0
             RODRIGUEZ DE MENDOZA                           1.0
...                                                         ...
TUMBES       ZARUMILLA                                   5321.0
UCAYALI      ATALAYA                                     1969.0
             CORONEL PORTILLO                           31450.0
             PADRE ABAD                                  2551.0
             PURUS                                          2.0

[110 rows x 3 columns]

The reshaping with two keys and two multi columns:

In [25]:
CasesByWeek.pivot_table(values='cases',
                            index=['departamento', 'provincia'],
                            columns=['enfermedad','sexo'],aggfunc="sum")

enfermedad                        DENGUE CON SEÑALES DE ALARMA          \
sexo                                                         F       M
departamento provincia
AMAZONAS     BAGUA                                       162.0   144.0
             BONGARA                                       NaN     NaN
             CHACHAPOYAS                                   9.0     9.0
             CONDORCANQUI                                 22.0    19.0
             RODRIGUEZ DE MENDOZA                          NaN     NaN
...                                                        ...     ...
TUMBES       ZARUMILLA                                   206.0   169.0
UCAYALI      ATALAYA                                     222.0   182.0
             CORONEL PORTILLO                           3527.0  2987.0
             PADRE ABAD                                  249.0   237.0
             PURUS                                         1.0     NaN

enfermedad                        DENGUE GRAVE         \
sexo                                         F      M
departamento provincia
AMAZONAS     BAGUA                        14.0   15.0
             BONGARA                       NaN    NaN
             CHACHAPOYAS                   NaN    NaN
             CONDORCANQUI                  NaN    NaN
             RODRIGUEZ DE MENDOZA          NaN    NaN
...                                        ...    ...
TUMBES       ZARUMILLA                     4.0   10.0
UCAYALI      ATALAYA                      14.0   10.0
             CORONEL PORTILLO            143.0  133.0
             PADRE ABAD                   15.0   15.0
             PURUS                         NaN    NaN

enfermedad                        DENGUE SIN SEÑALES DE ALARMA
sexo                                                         F        M
departamento provincia
AMAZONAS     BAGUA                                      3002.0   2593.0
             BONGARA                                       3.0      1.0
             CHACHAPOYAS                                  23.0     27.0
             CONDORCANQUI                                657.0    546.0
             RODRIGUEZ DE MENDOZA                          NaN      1.0
...                                                        ...      ...
TUMBES       ZARUMILLA                                  2860.0   2461.0
UCAYALI      ATALAYA                                    1035.0    934.0
             CORONEL PORTILLO                          16658.0  14792.0
             PADRE ABAD                                 1290.0   1261.0
             PURUS                                         NaN      2.0

[110 rows x 6 columns]

In [26]:
CasesByWeek_Wide=CasesByWeek.pivot_table(values='cases',
                            index=['departamento', 'provincia'],
                            columns=['enfermedad','sexo'],aggfunc="sum").reset_index(drop=False)
CasesByWeek_Wide

enfermedad departamento             provincia DENGUE CON SEÑALES DE ALARMA  \
sexo                                                                     F
0              AMAZONAS                 BAGUA                        162.0
1              AMAZONAS               BONGARA                          NaN
2              AMAZONAS           CHACHAPOYAS                          9.0
3              AMAZONAS          CONDORCANQUI                         22.0
4              AMAZONAS  RODRIGUEZ DE MENDOZA                          NaN
..                  ...                   ...                          ...
105              TUMBES             ZARUMILLA                        206.0
106             UCAYALI               ATALAYA                        222.0
107             UCAYALI      CORONEL PORTILLO                       3527.0
108             UCAYALI            PADRE ABAD                        249.0
109             UCAYALI                 PURUS                          1.0

enfermedad         DENGUE GRAVE        DENGUE SIN SEÑALES DE ALARMA
sexo             M            F      M                            F        M
0            144.0         14.0   15.0                       3002.0   2593.0
1              NaN          NaN    NaN                          3.0      1.0
2              9.0          NaN    NaN                         23.0     27.0
3             19.0          NaN    NaN                        657.0    546.0
4              NaN          NaN    NaN                          NaN      1.0
..             ...          ...    ...                          ...      ...
105          169.0          4.0   10.0                       2860.0   2461.0
106          182.0         14.0   10.0                       1035.0    934.0
107         2987.0        143.0  133.0                      16658.0  14792.0
108          237.0         15.0   15.0                       1290.0   1261.0
109            NaN          NaN    NaN                          NaN      2.0

[110 rows x 8 columns]

In [27]:
CasesByWeek_Wide.columns

MultiIndex([(                'departamento',  ''),
            (                   'provincia',  ''),
            ('DENGUE CON SEÑALES DE ALARMA', 'F'),
            ('DENGUE CON SEÑALES DE ALARMA', 'M'),
            (                'DENGUE GRAVE', 'F'),
            (                'DENGUE GRAVE', 'M'),
            ('DENGUE SIN SEÑALES DE ALARMA', 'F'),
            ('DENGUE SIN SEÑALES DE ALARMA', 'M')],
           names=['enfermedad', 'sexo'])

In [28]:
CasesByWeek_Wide.columns.name = None # CasesByWeek_Wide.rename_axis(index=None, columns=None)

In [29]:
["_".join(pair) for pair in CasesByWeek_Wide.columns[2:]]

['DENGUE CON SEÑALES DE ALARMA_F',
 'DENGUE CON SEÑALES DE ALARMA_M',
 'DENGUE GRAVE_F',
 'DENGUE GRAVE_M',
 'DENGUE SIN SEÑALES DE ALARMA_F',
 'DENGUE SIN SEÑALES DE ALARMA_M']

In [30]:
newNames=['departamento','provincia']
newNames.extend(["_".join(pair) for pair in CasesByWeek_Wide.columns[2:]])
newNames

['departamento',
 'provincia',
 'DENGUE CON SEÑALES DE ALARMA_F',
 'DENGUE CON SEÑALES DE ALARMA_M',
 'DENGUE GRAVE_F',
 'DENGUE GRAVE_M',
 'DENGUE SIN SEÑALES DE ALARMA_F',
 'DENGUE SIN SEÑALES DE ALARMA_M']

In [31]:
CasesByWeek_Wide.columns=newNames
CasesByWeek_Wide.columns

Index(['departamento', 'provincia', 'DENGUE CON SEÑALES DE ALARMA_F',
       'DENGUE CON SEÑALES DE ALARMA_M', 'DENGUE GRAVE_F', 'DENGUE GRAVE_M',
       'DENGUE SIN SEÑALES DE ALARMA_F', 'DENGUE SIN SEÑALES DE ALARMA_M'],
      dtype='object')

In [32]:
CasesByWeek_Wide.columns.str.title().str.replace('\\s','',regex=True).str.replace("Dengue","",regex=False)

Index(['Departamento', 'Provincia', 'ConSeñalesDeAlarma_F',
       'ConSeñalesDeAlarma_M', 'Grave_F', 'Grave_M', 'SinSeñalesDeAlarma_F',
       'SinSeñalesDeAlarma_M'],
      dtype='object')

In [33]:
CasesByWeek_Wide.columns=CasesByWeek_Wide.columns.str.title().str.replace('\\s','',regex=True).str.replace("Dengue","",regex=False)

CasesByWeek_Wide

,Departamento,Provincia,ConSeñalesDeAlarma_F,ConSeñalesDeAlarma_M,Grave_F,Grave_M,SinSeñalesDeAlarma_F,SinSeñalesDeAlarma_M
0,AMAZONAS,BAGUA,162.0,144.0,14.0,15.0,3002.0,2593.0
1,AMAZONAS,BONGARA,NaN,NaN,NaN,NaN,3.0,1.0
2,AMAZONAS,CHACHAPOYAS,9.0,9.0,NaN,NaN,23.0,27.0
3,AMAZONAS,CONDORCANQUI,22.0,19.0,NaN,NaN,657.0,546.0
4,AMAZONAS,RODRIGUEZ DE MENDOZA,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...
105,TUMBES,ZARUMILLA,206.0,169.0,4.0,10.0,2860.0,2461.0
106,UCAYALI,ATALAYA,222.0,182.0,14.0,10.0,1035.0,934.0
107,UCAYALI,CORONEL PORTILLO,3527.0,2987.0,143.0,133.0,16658.0,14792.0
108,UCAYALI,PADRE ABAD,249.0,237.0,15.0,15.0,1290.0,1261.0
109,UCAYALI,PURUS,1.0,NaN,NaN,NaN,NaN,2.0

We should be able to transfor this wide version into a long one:

In [34]:
CasesByWeek_Wide.set_index('Departamento').stack().reset_index()

    Departamento               level_1       0
0       AMAZONAS             Provincia   BAGUA
1       AMAZONAS  ConSeñalesDeAlarma_F   162.0
2       AMAZONAS  ConSeñalesDeAlarma_M   144.0
3       AMAZONAS               Grave_F    14.0
4       AMAZONAS               Grave_M    15.0
..           ...                   ...     ...
589      UCAYALI  SinSeñalesDeAlarma_F  1290.0
590      UCAYALI  SinSeñalesDeAlarma_M  1261.0
591      UCAYALI             Provincia   PURUS
592      UCAYALI  ConSeñalesDeAlarma_F     1.0
593      UCAYALI  SinSeñalesDeAlarma_M     2.0

[594 rows x 3 columns]

In [35]:
CasesByWeek_Long=CasesByWeek_Wide.set_index(['Departamento','Provincia']).stack().reset_index()
CasesByWeek_Long

    Departamento   Provincia               level_2       0
0       AMAZONAS       BAGUA  ConSeñalesDeAlarma_F   162.0
1       AMAZONAS       BAGUA  ConSeñalesDeAlarma_M   144.0
2       AMAZONAS       BAGUA               Grave_F    14.0
3       AMAZONAS       BAGUA               Grave_M    15.0
4       AMAZONAS       BAGUA  SinSeñalesDeAlarma_F  3002.0
..           ...         ...                   ...     ...
479      UCAYALI  PADRE ABAD               Grave_M    15.0
480      UCAYALI  PADRE ABAD  SinSeñalesDeAlarma_F  1290.0
481      UCAYALI  PADRE ABAD  SinSeñalesDeAlarma_M  1261.0
482      UCAYALI       PURUS  ConSeñalesDeAlarma_F     1.0
483      UCAYALI       PURUS  SinSeñalesDeAlarma_M     2.0

[484 rows x 4 columns]

In [36]:
CasesByWeek_Long.rename(columns={'level_2':'status',0:'cases'},inplace=True)
CasesByWeek_Long

    Departamento   Provincia                status   cases
0       AMAZONAS       BAGUA  ConSeñalesDeAlarma_F   162.0
1       AMAZONAS       BAGUA  ConSeñalesDeAlarma_M   144.0
2       AMAZONAS       BAGUA               Grave_F    14.0
3       AMAZONAS       BAGUA               Grave_M    15.0
4       AMAZONAS       BAGUA  SinSeñalesDeAlarma_F  3002.0
..           ...         ...                   ...     ...
479      UCAYALI  PADRE ABAD               Grave_M    15.0
480      UCAYALI  PADRE ABAD  SinSeñalesDeAlarma_F  1290.0
481      UCAYALI  PADRE ABAD  SinSeñalesDeAlarma_M  1261.0
482      UCAYALI       PURUS  ConSeñalesDeAlarma_F     1.0
483      UCAYALI       PURUS  SinSeñalesDeAlarma_M     2.0

[484 rows x 4 columns]

In [37]:
CasesByWeek_Long.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484 entries, 0 to 483
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Departamento  484 non-null    object
 1   Provincia     484 non-null    object
 2   status        484 non-null    object
 3   cases         484 non-null    float64
dtypes: float64(1), object(3)
memory usage: 15.3+ KB

In [38]:
CasesByWeek_Wide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Departamento          110 non-null    object
 1   Provincia             110 non-null    object
 2   ConSeñalesDeAlarma_F  84 non-null     float64
 3   ConSeñalesDeAlarma_M  82 non-null     float64
 4   Grave_F               61 non-null     float64
 5   Grave_M               59 non-null     float64
 6   SinSeñalesDeAlarma_F  99 non-null     float64
 7   SinSeñalesDeAlarma_M  99 non-null     float64
dtypes: float64(6), object(2)
memory usage: 7.0+ KB

In [39]:
import sys
sys.getsizeof(CasesByWeek_Long),sys.getsizeof(CasesByWeek_Wide)

(97294, 18069)