# Data Reshaping


Let me get the data on Covid again:

In [22]:
import pandas as pd
import glob
import os

all_names = glob.glob(os.path.join('FilesToAggregate' , "*2022.csv"))

dfs=[pd.read_csv(name,sep=";") for name in all_names]

covid=pd.concat(dfs,ignore_index=True,copy=False)

ParserError: Expected 14 fields in line 87871, saw 16

We speak of the **long** and the **wide** shape. As you can see the covid data is in the former:

In [2]:
covid

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-01-01,52,210147125.0,22291507.0,3986,619105,49,21581668.0,90734.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-01-02,1,210147125.0,22293228.0,1721,619133,28,21581717.0,92378.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-01-03,1,210147125.0,22305078.0,11850,619209,76,21591847.0,94022.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-01-04,1,210147125.0,22323837.0,18759,619384,175,21603954.0,100499.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2022-01-05,1,210147125.0,22351104.0,27267,619513,129,21615473.0,116118.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1129414,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-07-16,28,3015268.0,824297.0,0,11803,0,NaN,NaN,1.0
1129415,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-07-17,29,3015268.0,824297.0,0,11803,0,NaN,NaN,1.0
1129416,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-07-18,29,3015268.0,825222.0,925,11806,3,NaN,NaN,1.0
1129417,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-07-19,29,3015268.0,825960.0,738,11809,3,NaN,NaN,1.0
1129418,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-07-20,29,3015268.0,826655.0,695,11811,2,NaN,NaN,1.0

In [3]:
covid.columns

Index(['regiao', 'estado', 'municipio', 'coduf', 'codmun', 'codRegiaoSaude',
       'nomeRegiaoSaude', 'data', 'semanaEpi', 'populacaoTCU2019',
       'casosAcumulado', 'casosNovos', 'obitosAcumulado', 'obitosNovos',
       'Recuperadosnovos', 'emAcompanhamentoNovos', 'interior/metropolitana'],
      dtype='object')

Let me keep some columns:

In [4]:
covid=covid[['regiao','estado','municipio','data','semanaEpi','casosNovos', 'obitosNovos']]

In [5]:
covid=covid[covid.regiao!='Brasil'].reset_index(drop=True)
covid

,regiao,estado,municipio,data,semanaEpi,casosNovos,obitosNovos
0,Norte,RO,NaN,2022-01-01,52,34,3
1,Norte,RO,NaN,2022-01-02,1,32,2
2,Norte,RO,NaN,2022-01-03,1,91,3
3,Norte,RO,NaN,2022-01-04,1,254,3
4,Norte,RO,NaN,2022-01-05,1,232,3
...,...,...,...,...,...,...,...
1129213,Centro-Oeste,DF,Brasília,2022-07-16,28,0,0
1129214,Centro-Oeste,DF,Brasília,2022-07-17,29,0,0
1129215,Centro-Oeste,DF,Brasília,2022-07-18,29,925,3
1129216,Centro-Oeste,DF,Brasília,2022-07-19,29,738,3
1129217,Centro-Oeste,DF,Brasília,2022-07-20,29,695,2

In [16]:
covid.describe()

          semanaEpi    casosNovos   obitosNovos
count  1.129218e+06  1.129218e+06  1.129218e+06
mean   1.497512e+01  1.977789e+01  1.012400e-01
std    8.636060e+00  3.834948e+02  3.259867e+00
min    1.000000e+00 -7.390700e+04 -7.550000e+02
25%    8.000000e+00  0.000000e+00  0.000000e+00
50%    1.500000e+01  0.000000e+00  0.000000e+00
75%    2.200000e+01  2.000000e+00  0.000000e+00
max    5.200000e+01  7.435200e+04  7.550000e+02

In [18]:
import numpy as np

munis=covid[~covid.municipio.isnull()]


munis[munis.obitosNovos<0]

,regiao,estado,municipio,data,semanaEpi,casosNovos,obitosNovos
5115,Norte,RO,Alta Floresta D'Oeste,2022-02-17,7,127,-1
5117,Norte,RO,Alta Floresta D'Oeste,2022-02-19,7,139,-1
5123,Norte,RO,Alta Floresta D'Oeste,2022-02-25,8,54,-1
5327,Norte,RO,Ariquemes,2022-03-20,12,51,-1
5332,Norte,RO,Ariquemes,2022-03-25,12,37,-1
...,...,...,...,...,...,...,...
1124592,Centro-Oeste,GO,Anápolis,2022-07-15,28,45,-1
1125679,Centro-Oeste,GO,Cristalina,2022-07-02,26,1,-2
1126802,Centro-Oeste,GO,Jaraguá,2022-07-05,27,39,-1
1126830,Centro-Oeste,GO,Jataí,2022-07-13,28,155,-3
1128102,Centro-Oeste,GO,Posse,2022-07-05,27,39,-1

In [15]:
munis.pivot(values='casosNovos' ,
                            index=['estado','municipio','semanaEpi','data'],
                            columns='regiao').describe()

regiao,Centro-Oeste,Nordeste,Norte,Sudeste,Sul
count,93867.000000,360594.000000,90450.000000,335268.000000,239391.000000
mean,14.613592,4.740772,8.035810,13.658151,11.511402
std,143.809167,145.441323,522.507015,162.935059,72.675893
min,-3817.000000,-34415.000000,-73907.000000,-9985.000000,-23397.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,1.000000
75%,4.000000,1.000000,1.000000,2.000000,5.000000
max,11508.000000,34425.000000,74352.000000,23095.000000,3487.000000

In [ ]:
covid.info()

In [ ]:
covid.pivot(values='casosNovos' ,
                            index=['estado','municipio','semanaEpi','data'],
                            columns='regiao')

Long format is efficient, but some operations may need a wide format:

In [ ]:
covid_LocationW=pd.pivot(covid,values=['casosNovos'] ,
                            index=['semanaEpi'],
                            columns=['estado'])

covid_LocationW

In [ ]:
covid_WeeksW=pd.pivot_table(covid,
                            values='casosNovos', 
                            index=['regiao','estado'],
                            columns=['semanaEpi'],# to wide
                            aggfunc='sum')

covid_WeeksW

Notice the column names:

In [ ]:
covidSemanaW.columns

Pandas gave a name to all the columns ('_semanaEpi_'), which is saved from the original data.

In [ ]:
covidSemanaW.reset_index().rename_axis(index=None, columns=None)

We could save this, dropping the last column:

In [ ]:
covidSemanaW=covidSemanaW.reset_index().rename_axis(index=None, columns=None)
covidSemanaW.drop(columns=[52],inplace=True)
covidSemanaW.to_csv(os.path.join('FilesToAggregate','covidSemanaW.csv'),index=False)

We should be able to transfor this wide version into a long one:

In [ ]:
covidSemanaL=covidSemanaW.set_index('estado').stack().reset_index()
covidSemanaL

In [ ]:
# you can save after renaming
covidSemanaL.rename(columns={'level_1':'semanaEpi',0:'cases'},inplace=True)
covidSemanaW.to_csv(os.path.join('FilesToAggregate','covidSemanaL.csv'),index=False)

Let's make it little more complex:

In [ ]:
covidSemanaW2=pd.pivot_table(covid,
                            values=['casosNovos','obitosNovos'], 
                            index=['regiao','estado'],
                            columns=['semanaEpi'],
                            aggfunc=sum)

covidSemanaW2

Now you have _multi index_:

In [ ]:
covidSemanaW2.index

This works well:

In [ ]:
covidSemanaW2.reset_index()

Your problem is the column names:

In [ ]:
covidSemanaW2.columns

Notice that, before making any change, you can easily convert this into a Long format:

In [ ]:
covidSemanaW2.stack()

And, more interesting:

In [ ]:
covidSemanaW2.stack([0,1])

In [ ]:
covidSemanaW2.stack([0,1]).reset_index()

In [ ]:
# rename

covidSemanaW2_L=covidSemanaW2.stack([0,1]).reset_index()
covidSemanaW2_L.rename(columns={'level_2':'measure',0:'counts'},inplace=True)

In [ ]:
# then

covidSemanaW2_L.to_csv(os.path.join('FilesToAggregate','covidSemanaW2_L.csv'),index=False)

But, if you decided to alter this:

In [ ]:
covidSemanaW2.columns

In [ ]:
# with something like

["_".join([levels[0],str(levels[1])]) for levels in covidSemanaW2.columns]

In [ ]:
NewNames=["_".join([levels[0],str(levels[1])]) for levels in covidSemanaW2.columns]
covidSemanaW2.columns=NewNames

#now you have
covidSemanaW2

If you start with something like this, you could recover the Multi index:

In [ ]:
pd.MultiIndex.from_tuples(covidSemanaW2.columns.str.split('_').map(tuple))